@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter;
  overflow: hidden;
  height: 100%;
  width: 100%;
  --sb-track-color: #e9f0f200;
  --sb-thumb-color: #e5e5e5;
  --sb-size: 8px;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
